VITE_SITE_BASE_URL=https://obsidianstudios.online
VITE_SITE_LEGAL_NAME=OBSIDIAN STUDIO
VITE_SITE_CONTACT_EMAIL=hello@obsidianstudios/online
VITE_SITE_CONTACT_PHONE=+1 (647) 484-2752
VITE_SITE_LOCATION=Toronto / Ontario, Canada
VITE_SITE_X_HANDLE=@obsidianstudios
VITE_SITE_X_URL=https://x.com/example
VITE_SITE_LINKEDIN_URL=https://www.linkedin.com/in/example
VITE_SITE_INSTAGRAM_URL=https://www.instagram.com/example
VITE_SITE_YOUTUBE_URL=https://www.youtube.com/@example
VITE_SITE_DEFAULT_OG_IMAGE=/social-preview.svg

VITE_FORMSPREE_ENDPOINT=
VITE_NETLIFY_FORMS_ENDPOINT=
VITE_RESEND_CONTACT_ENDPOINT=
VITE_HUBSPOT_CONTACT_ENDPOINT=
VITE_AIRTABLE_CONTACT_ENDPOINT=
VITE_LOVABLE_CONTACT_ENDPOINT=
VITE_CONTACT_ENDPOINT=
